Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/SoulCave/Maps/LV_Soul_Cave_BuiltData.uasset
Content/SoulCave/Maps/LV_Soul_Cave_Mobile_BuiltData.uasset
Content/WaterMill/Maps/Showcase_Day.umap
Content/WaterMill/Maps/Showcase_Night.umap
